body {
  background-color: rgb(255, 153, 51);
  color: rgb(65,75,86);
  font-family: arial;
  margin: 50px ;
}

body {
  background-image: url("../Images/background.jpeg");
  height: 500px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

head {
 margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 150px;
 margin-left: 80px;
}

    h1 {
        font-size: 5em;
        text-align: center;
    }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.list{
  text-align: center;
}


.nav-link {
  font-size: 2em;
  text-align: center;
}

.nav-link:hover {
  font-size: 2.5em;
  color: pink;
  transition: 0.9s ease;
}
.pop {
  font-size: 2em;
}

a.button{
  background-color: #4286f4;
   border: none;
   color: white;
   padding: 15px 25px;
   text-align: center;
   font-size: 20px;
   cursor: pointer;
   border-radius: 12px;
 }
