body {
  background-color: rgb(255, 153, 51);
  color: rgb(65,75,86);
  font-family: arial;
  margin: 50px;
}

head {
 margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 150px;
 margin-left: 80px;
}

h1 {
        font-size: 5em;
        text-align: center;
    }

p {
  text-align: center;
}

.location {
  padding-bottom: 200px;
}

iframe {
  align-content: center;
}

nav{
  background-color: rgb(221, 31, 101);
  opacity: 0.7;
}

.jumbotron {
    background-color: rgb(96, 75, 101);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
        color: white;
    }
    p {
        font-size: 1.2em;
        color: white;
        .btn {
            padding: 0.5em;
        }
    }
}

.book {
margin: 10px 0 10px 0;
color: rgb(255,255,255);

}
.jumbo_emotion {
margin: 20px 0 20px 0;

}
