body {
  background-color: rgb(255, 153, 51);
  color: rgb(65,75,86);
  font-family: arial;
  margin: 50px;
}

header {
 margin-top: 100px;
 margin-bottom: 100px;
 margin-right: 150px;
 margin-left: 80px;
}

nav{
  background-color: rgb(221, 31, 101);
  opacity: 0.7;
  font-size: 1em;
}

h1 {
    font-size: 5em;
    text-align: center;
    }

    .jumbotron {
        margin: 20px 0 20px 0;
        background-color: rgb(96, 75, 101);
        color: rgb(255, 255, 255);
        border-radius: 25px;
        padding: 0.5em 0.6em;
          h1 {
            font-size: 2em;
            color: white;
        }

    .lead {
      text-align: center
    }

        p {
            font-size: 1.2em;
            color: white;
            text-align: center;
            .btn {
                padding: 0.5em;
            }
        }
    }

p {
  text-align: center;
}

iframe {
  align-content: center;
}

.location {
  font-weight: bold;
  text-align: center;
}

.mb-0 {
  text-align: center;
}

.blockquote {
  text-align: center;
  font-weight: bold;
  padding-top: 2em;
}

  #img_activity {
  object-fit: cover;
  width:330px;
  height:330px;
  border-radius: 50%;
}

ul {
    text-align: left;
}

.book {
margin: 10px 0 10px 0;
color: rgb(255,255,255);

}

.book2 {
	  margin: 0 auto;
	  text-align: center;
	  width: 500px;
	}

.jumbo_emotion {
margin: 20px 0 20px 0;

}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.librarian {
  text-align: center;
  color: white;
  font-weight: bold;
  
}
